# Core
torch>=2.0.0
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0

# Cheminformatics
rdkit>=2023.9.1

# Representation-specific tokenizers
selfies>=2.1.1
deepsmiles>=1.0.1
atomInSmiles>=1.0.0

# Utilities
unidecode>=1.3.0
